
<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">


 
<div id="div-li" >
     {{!-- <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label" id="f"> If Covid-19 patient click here</label>
           <form method="get" action="/app/covid">
              <button type="submit">Yes</button>
            </form>
        </div> --}}
   <div id="col">
    <h1 style="color:white" id="f" >Add Covid-19 Patient</h1>

    </div>
  
    <form action="/app/addpatient" method="post" >
      

        <div class="form-group row " >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">First Name</label>
            <div class="col-sm-2 col-md-2 col-lg-6" >
                <input id="first-name" class="form-control" style="width: 100%;" type="text" name="firstName" required="true" placeholder="Enter first name...">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Last Name</label>
            <div class="col-sm-9 col-md-9 col-lg-6">
                <input class="form-control" style="width: 100%;" type="text" name="lastName" required="true" placeholder="Enter last name...">
            </div>
        </div>

       

        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Date of birth</label>
            <div class="col-sm-9 col-md-9 col-lg-6">
                <input class="form-control" style="width: 100%;" type="text" name="dateOfBirth" required="true" placeholder="DD/MM/YYYY">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Contact no.</label>
            <div class="col-sm-9 col-md-9 col-lg-6">
                <input class="form-control" style="width: 100%;" type="text" name="hospitalNumber" required="true" placeholder="Enter contact number">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Sex</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active" style="margin:0px;">
                    <input id="male-radio" type="radio" name="sex" value="male" autocomplete="off" checked>Male
                  </label>
                  <label class="btn btn-primary" style="margin:0px;">
                    <input id="female-radio" type="radio" name="sex" value="female" autocomplete="off"> Female
                  </label>
                </div>
            </div>
        </div>
        {{!-- <div class="form-group row">
            <label for="zone" class="col-sm-3 col-md-3 col-lg-5 col-form-label">Choose the zone :</label>

               <select name="zone" id="zone">
               <option value="Red">Red</option>
               <option value="Orange">Orange</option>
               <option value="Yellow">Yellow</option>
               <option value="Green">Green</option>
               </select>
     </div> --}}
     {{!-- <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-9 col-form-label" > Have you been in hospital with a Covid-19 patient for the past 14 days?</label>
           <form method="get" action="/app/covid">
             <div class="col-sm-9 col-md-9 col-lg-9" >
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active" style="margin-left:150px;">
                    <input id="male-radio" type="radio" name="hospitalWithCovid" value="Yes" autocomplete="off" checked>Yes
                  </label>
                  <label class="btn btn-primary" style="margin-left:10px;">
                    <input id="female-radio" type="radio" name="hospitalWithCovid" value="No" autocomplete="off"> No
                  </label>
                </div>
            </div>
            </form>
        </div> --}}


    	<table id="add-new-patient" class="table table-striped table-bordered" cellspacing="0" width="100%">
    		
    	</table>
    	<input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add patient">
    </form>
</div>


<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/addpatient.js"></script>


