<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">

    <div id="div-li">
         <div class="row">
              <div id="col">
            <h1 style="color:white" id="f" >Add new symptom in the system</h1>
                </div>


            <form action="/app/addsymptomPage" method="post">
                <div class="form-group row">
                    <label class="col-sm-5 col-md-5 col-lg-5 col-form-label ">Symptom name</label>
                    <div class="col-sm-7 col-md-7 col-lg-5">
                        <input class="form-control" style="width: 80%" type="text" name="symptomName" required="true" placeholder="Enter new symptom name...">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">Symptom score</label>
                    <div class="col-sm-7 col-md-7 col-lg-5">
                        <input class="form-control" style="width: 100%;" type="number" name="symptomScore" required="true" placeholder="Enter new symptom score...">
                    </div>
                </div>

            	<input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add symptom">
            </form>
        </div>

        <hr style="border-top: dotted 1px;" />

        <div class="row">
            <h4 style="margin-top: 0px;">Delete symptoms from the system</h4>
            <form action="/app/deletesymptoms" method="post">
                <table id="symptoms-table" class="table table-striped table-bordered" cellspacing="0" width="100%">

                </table>

                <input class="btn btn-danger" style="float: right;" type="Submit" name="Submit" value="Delete symptoms">
            </form>
        </div>
    </div>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/systemSettings.js"></script>
