<link rel="stylesheet" type="text/css" href="/css/covid19.css">


<div class="flex-container">

  <div class="flex-child magenta">

      
    <h1 id="f">Inventory</h1>
    <div class="form-group row " id="invent">
        <h4 >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">Test kits</label>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
            <input type="number" id="number" value="1000" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
          </h4>  
    </div>
    <div class="form-group row " id="invent">
        <h4 >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">PPE kits</label>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
            <input type="number" id="number" value="98" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
          </h4>  
    </div>
      <div class="form-group row " id="invent">
        <h4 >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">Beds </label>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
            <input type="number" id="number" value="43" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
          </h4>  
    </div>
    <div class="form-group row " id="invent">
        <h4 >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">Ventilators</label>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
            <input type="number" id="number" value="12" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
          </h4>  
    </div>
    <div class="form-group row " id="invent">
        <h4 >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">N95 masks</label>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
            <input type="number" id="number" value="1998" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
          </h4>  
    </div>
    <div class="form-group row " id="invent">
        <h4 >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">Handwash</label>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
            <input type="number" id="number" value="98" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
          </h4>  
    </div>
    <div class="form-group row " id="invent">
        <h4 >
            <label  class="col-sm-3 col-md-3 col-lg-3 col-form-label">Sanitizers</label>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
            <input type="number" id="number" value="78" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
          </h4>  
    </div>

    

    
  </div>
  
  <div class="flex-child green" >
     
       <h1 id="f">Guidelines</h1>
       <div>
        <ol>
            <li>Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough, sneeze or speak.
       </li>
        <li>Make wearing a mask a normal part of being around other people.</li>
          
              <li>Maintain an even greater distance between yourself and others when indoors. The further away, the better.

               </li>
               <li> Here are the basics of how to wear a mask:
               <ul>
               <li>
                   
                  <b></b>  Clean your hands before you put your mask on, as well as before and after you take it off.
                </li>
                <li>
                    Make sure it covers both your nose, mouth and chin.
                </li>
                </ul>
              </li>
               

           </ol>
 </ol>
          
       </div>

    <a style="padding: 200px"  ; href="https://www.covid19india.org/"  target="_blank">For coronavirus updates</a>
  </div>
  
</div>
